@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

.google-sans-regular {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color-bg: #1f1f1f;
    --color-btn: #303134;
    --color-inp: #4d5156;
    --color-inp-hover: #5f6368;
    --color-text: #fff;
    --color-icon: #cccccc;
    --font-inp: sans-serif;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: .875rem;
}

.nav .about-side {
    flex: 1 1 0;
    display: flex;
    gap: 1.25rem;
    padding: 5px;
    margin-left: 10px;
}

.nav .about-side a {
    color: #fff;
    font-family: Arial, sans-serif;
}

.nav .google-links {
    flex: 1 1 0;
    display: flex;
    justify-content: end;
    gap: 1.25rem;
    padding: 5px;
    margin-right: 10px;

    a {
        color: #fff;
        font-family: Arial, sans-serif;
    }
}

a:hover {
    text-decoration: underline;
}

.nav .tools {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .3s;
}

.nav .tools:hover {
    background-color: #5f63682d;
    cursor: pointer;
}

.nav .tools .dots {
    width: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.nav .tools .dots div {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

form .search-box {
    margin: 0 auto;
    padding: 1rem;
}

form .box-img {
    position: relative;
    width: 100%;
    height: 18.125rem;
    display: flex;
    justify-content: center;
    align-items: end;
}
form .box-img span {
    position: absolute;
    font-size: 1rem;
    color: #677cee;
    right: 42%;
}
form .search-box .inp-box {
    width: 43rem;
    height: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-inp);
    border-radius: 24px;
    transition: box-shadow .3s;
}

form .search-box .inp-box:hover,
form .search-box .inp-box:hover .searchInp-box input {
    background-color: var(--color-inp-hover);
}

form .search-box .inp-box .searchInp-box input:focus {
    background-color: var(--color-btn);
}

form .search-box .inp-box:focus-within {
    background-color: var(--color-btn);
    box-shadow: rgba(53, 53, 53, 0.35) 0px 5px 15px;
}

form .search-box .inp-box .searchInp-box {
    flex: 6 6 20rem;
}

form .search-box .inp-box .searchInp-box input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600px;
    font-family: var(--font-inp);
    background-color: var(--color-inp);
    color: var(--color-text);
}

form .search-box .inp-box .icon {
    flex: 1 1 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

form .search-box .inp-box .icon:first-child div {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .search-box .inp-box .icon:first-child div:hover {
    background-color: var(--color-btn);
}

form .search-box .inp-box .icon span {
    color: var(--color-icon);

}

form .search-box .btn-box {
    height: 4rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

form .search-box .btn-box input {
    width: 8.125rem;
    height: 2.25rem;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--color-btn);
    color: var(--color-text);
    font-size: 14px;
    cursor: pointer;
}
form .search-box .btn-box input:hover {
    border: 1px solid var(--color-inp-hover);
}